.list {
    display: flex;
    margin-top: 25px;
    margin-bottom: 30px;
}

.list > li {
    margin-right: 40px;
}

@media screen and (max-width: 1499px) {
    .list {
        display: flex;
        flex-direction: column;
    }
    .list > li {
        margin-right: 0;
        margin-bottom: 15px;
    }
}