.list {
    display: flex;
    margin-top: 25px;
    margin-bottom: 30px;
}

.list > li {
    margin-right: 40px;
}

.link {
    font-size: calc(16px + 4 * ((100vw - 360px) / 1560));
    color: #dfe3e0;
    font-weight: 400;
    font-family: "Montserrat-Regular", sans-serif;
    cursor: pointer;
}

.link:hover {
    color: #639bd1;
}

@media screen and (max-width: 1499px) {
    .list {
        display: flex;
        flex-direction: column;
    }

    .list > li {
        margin-right: 0;
        margin-bottom: 15px;
    }
}
