.wrap_input {
    width: calc(135px + 95 * ((100vw - 360px) / 1560));
    height: calc(20px + 15 * ((100vw - 360px) / 1560));
    border: calc(1px + 1 * ((100vw - 360px) / 1560)) solid #193f65;
    display: flex;
    align-items: center;
    position: relative;
}

.search_input {
    width: calc(115px + 80 * ((100vw - 360px) / 1560));
    height: 100%;
    background-color: #000b2d;
    padding-right: calc(18px + 10 * ((100vw - 360px) / 1560));
    padding-left: 5px;
    font-size: calc(12px + 4 * ((100vw - 360px) / 1560));
    color: #eaeaea;
    letter-spacing: 0.5px;
}

.wrap_input:hover {
    border-color: #639bd1;
}

.clear {
    position: absolute;
    cursor: pointer;
    left: calc(100px + 70 * ((100vw - 360px) / 1560));
    width: calc(15px + 5 * ((100vw - 360px) / 1560));
    height: calc(15px + 5 * ((100vw - 360px) / 1560));
}

.clear:before,
.clear:after {
    content: '';
    height: 1.2px;
    width: calc(10px + 6 * ((100vw - 360px) / 1560));
    background-color: #eaeaea;
    position: absolute;
    bottom: 50%;
}

.clear:before {
    transform: rotate(45deg);
}

.clear:after {
    transform: rotate(-45deg);
}

.icon_magnifier {
    background-image: url(../../../public/images/navBar/search.svg);
    background-color: #000b2d;
    width: calc(10px + 8 * ((100vw - 360px) / 1560));
    height: calc(10px + 8 * ((100vw - 360px) / 1560));
    background-size: cover;
    margin-left: calc(3px + 5 * ((100vw - 360px) / 1560));
    position: relative;
    cursor: pointer;
    display: flex;
}

.icon_magnifier:before {
    content: '';
    border-left: calc(1px + 1 * ((100vw - 360px) / 1560)) solid #193f65;
    left: calc(-4px - 6 * ((100vw - 360px) / 1560));
    height: 100%;
    position: absolute;
}

@media screen and (min-width: 1921px) {
    .wrap_input {
        width: 230px;
        height: 35px;
        border: 2px solid #193f65;
    }

    .search_input {
        width: 195px;
        font-size: 16px;
        padding-right: 28px;
    }

    .clear {
        width: 20px;
        height: 20px;
        left: 170px;
    }

    .clear:before,
    .clear:after {
        content: '';
        width: 16px;
    }

    .icon_magnifier {
        width: 18px;
        height: 18px;
        margin-left: 8px;
    }

    .icon_magnifier:before {
        content: '';
        border-left: 2px solid #193f65;
        left: -10px;
    }
}
