.container {
    display: flex;
    flex-wrap: wrap;
    background-color: #ebeeed;
}

.wrapper {
    width: 50%;
}

.wrapper,
.fancybox_wrap {
    font-size: 0;
}

.wrapper:nth-child(2n - 1) {
    display: flex;
    justify-content: flex-end;
}

.image {
    cursor: pointer;
    object-fit: cover;
}
