.background {
    background-color: #000b2d;
}

.footer_inner_container {
    display: flex;
    justify-content: space-between;
    padding-top: 87px;
    padding-bottom: 91px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.contact {
    width: 390px;
}

.categories {
    width: 390px;
    row-gap: 12px;
}

.social {
    width: 360px;
}

.social, .contact {
    row-gap: 22px;
}

.categories {
    justify-content: space-between;
}

.title {
    font-size: 25px;
    line-height: 1.04;
    color: #dfe3e0;
    font-weight: 500;
    font-family: "Montserrat-Regular", sans-serif;
}

.categories > h5 {
    margin-bottom: 26px;
}

.gallery > h5 {
    margin-bottom: 40px;
}

.contact > h5 {
    margin-bottom: 16px;
}

.social > h5 {
    margin-bottom: 19px;
}

.social > a,
.contact > a,
.category {
    line-height: 1.625;
    font-size: 16px;
    color: #dfe3e0;
    font-weight: 300;
    font-family: "Montserrat-Light", sans-serif;
}

.social > a:hover,
.contact > a:hover,
.category:hover,
.link:hover > .img {
    color: #639bd1;
}

.social > a,
.contact > a {
    display: flex;
}

.social > a:before,
.contact > a:before {
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 22px;
    margin-right: 20px;
}

.social > a:before {
    width: 30px;
    position: relative;
    left: -8px;
    margin-right: 3px;
}

.location:before {
    background-image: url(../../../public/img/footer/icons/map.png);
}

.phone:before {
    background-image: url(../../../public/img/footer/icons/phone.png);
}

.contact > .facebook:before {
    background-image: url(../../../public/img/footer/icons/facebook.png);
    width: 24px;
}

.contact > .email:before {
    background-image: url(../../../public/img/footer/icons/mail.png);
    width: 25px;
}

.instagram:before {
    background-image: url(../../../public/img/footer/icons/instagram.png);
}

.telegram:before {
    background-image: url(../../../public/img/footer/icons/telegram.png);
}

.whatsApp:before {
    background-image: url(../../../public/img/footer/icons/whatsApp.png);
}

.viber:before {
    background-image: url(../../../public/img/footer/icons/viber.png);
}

.link {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    cursor: pointer;
}

.imgGallery {
    width: 100px;
    height: 80px;
    object-fit: cover;
}

.imgGallery img {
    width: 100px;
    height: 80px;
    object-fit: cover;
}

@media screen and (max-width: 1660px) {
    .footer_inner_container {
        padding-top: 65px;
        padding-bottom: 68px;
    }

    .contact {
        width: 292px;
    }

    .categories {
        width: 292px;
        row-gap: 9px;
    }

    .social {
        width: 270px;
    }

    .social, .contact {
        row-gap: 17px;
    }
    .title {
        font-size: 18px;
        line-height: 1;
    }

    .categories > h5 {
        margin-bottom: 20px;
    }

    .gallery > h5 {
        margin-bottom: 30px;
    }

    .contact > h5 {
        margin-bottom: 12px;
    }

    .social > h5 {
        margin-bottom: 14px;
    }

    .social > a,
    .contact > a,
    .category {
        line-height: 1;
        font-size: 12px;
    }

    .social > a:before,
    .contact > a:before {
        width: 17px;
        margin-right: 15px;
    }

    .social > a:before {
        width: 23px;
        left: -6px;
        margin-right: 2px;
    }

    .contact > .facebook:before {
        width: 18px;
    }

    .contact > .email:before {
        width: 18px;
    }

    .imgGallery {
        width: 75px;
        height: 60px;
    }

    .imgGallery img {
        width: 75px;
        height: 60px;
    }
}

@media screen and (max-width: 767px) {
    .footer_inner_container {
        padding-left: 29px;
        padding-right: 29px;
    }

    .title {
        display: none;
    }

    .gallery {
        display: none;
    }

    .contact, .categories, .social {
        width: 33%;
    }
}

@media screen and (max-width: 360px) {
    .footer_inner_container {
        flex-direction: column;
    }

    .contact, .categories, .social {
        width: 100%;
        margin-bottom: 20px;
    }

    .social > a:before,
    .contact > a:before {
        height: 17px;
    }
}