.background {
    background-color: #000b2d;
}

.container {
    max-width: 1920px;
    padding: 0 calc(45px + 120 * ((100vw - 360px) / 1560));
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1499px) {
    .container {
        display: none;
    }
}

.wrapper {
    display: flex;
    align-items: center;
}

.wrapper > form {
    margin-right: 40px;
}

.wrap_user {
    cursor: pointer;
}

.icon_user {
    background-image: url(../../public/images/navBar/userIcon.png);
    background-size: cover;
    width: 25px;
    height: 30px;
}

@media screen and (min-width: 1921px) {
    .container {
        padding: 0 165px;
    }
}