.background {
    width: 100%;
    background-color: #051330;
}

.container {
    padding-left: 165px;
    padding-right: 165px;
    padding-top: 80px;
    padding-bottom: 110px;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
}

.columns {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 26px;
    color: #dfe3e0;
    font-family: "Montserrat-Light", sans-serif;
    padding-right: 50px;
}

.columns:last-child {
    padding-right: 0px;
}

.columns > a {
    margin-bottom: 20px;
}

.columns > a:last-child {
    margin-bottom: 30px;
}

.title {
    font-size: 25px;
    line-height: 26px;
    color: #dfe3e0;
    font-weight: 500;
    font-family: "Montserrat-Regular", sans-serif;
    margin-bottom: 30px;
}

.gallery_img {
    margin-bottom: 10px;
}

.gallery_img > img {
    margin-right: 10px;
}

.gallery_img > img:last-child {
    margin-right: 0;
}

.link {
    position: relative;
    margin-left: 40px;
}

.icon {
    position: absolute;
    left: -40px;
}

@media screen and (max-width: 1449px) {
    .columns:last-child {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        padding: 60px;
    }
}
