.languages_burger {
  font-family: "Montserrat-Light", sans-serif;
  color: #6b7680;
  margin-right: 18px;
}

.languages {
  color: #9ea5a8;
}

@media screen and (max-width: 1324px) {
  .languages {
    display: none;
  }
}

.lang_switcher {
  display: inline-block;
  margin-right: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #dfe3e0;
  font-weight: 500;
  font-family: "Montserrat-Regular", sans-serif;
  cursor: pointer;
}

.lang_switcher:last-child {
  margin-right: 40px;
}