.languages_burger {
  font-family: "Montserrat-Light", sans-serif;
  color: #6b7680;
  margin-right: 18px;
}

.languages {
  color: #9ea5a8;
}

@media screen and (max-width: 1310px) {
  .languages {
    display: none;
  }
}
