.popular_container {
  min-height: 860px;
}

.popular_content_container {
  width: 100%;
  min-height: 930px;
  position: relative;
  background-color: #ebeeed;
}

.popular_header {
  font-size: 2.4rem;
  font-family: "Montserrat-ExtraBold", sans-serif;
  line-height: 1;
  width: max-content;
  text-align: center;
  padding: 90px 0px 50px 0px;
}

.popular_items_container {
  max-width: 1920px;
  font-size: 1rem;
  font-family: serif;
  justify-content: space-around;
}

.popular_container,
.popular_items_container {
  display: flex;
}

.popular_header,
.popular_items_container {
  color: #7b7c7b;
  margin: auto;
}

@media screen and (max-width: 1790px) {
  .popular_container {
    max-height: 718px;
    min-height: 0px;
  }

  .popular_content_container {
    min-height: 755px;
  }
  .popular_header {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1324px) {
  .popular_content_container {
    min-height: 650px;
  }

  .popular_header {
    font-size: 1.4rem;
    margin-left: 385px;
    padding-top: 20px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 1224px) {
  .popular_header {
    margin-left: 185px;
  }

  .popular_items_container {
    margin-left: -10px;
  }
}

@media screen and (max-width: 1086px) {
  .popular_items_container {
    margin-left: 50px;
  }
}

@media screen and (max-width: 989px) {
  .popular_header {
    margin-left: 160px;
  }
}

@media screen and (max-width: 800px) {
  .popular_header {
    margin-left: 100px;
  }
}

@media screen and (max-width: 700px) {
  .popular_content_container {
    min-height: 600px;
  }

  .popular_header {
    margin-left: 90px;
    margin-top: 0px;
  }

  .popular_items_container {
    margin-left: 20px;
  }
}

@media screen and (max-width: 500px) {
  .popular_header {
    margin-left: 45px;
  }
}

@media screen and (max-width: 440px) {
  .popular_content_container {
    min-height: 520px;
  }

  .popular_header {
    margin-left: 25px;
    font-size: 1.1rem;
  }
}
