.background {
    background-color: #ebeeed;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    text-align: center;
    padding: calc(40px + 60 * ((100vw - 360px) / 1560)) calc(45px + 120 * ((100vw - 360px) / 1560));
}

.title {
    font-size: calc(14px + 25 * ((100vw - 360px) / 1560));
    font-weight: 800;
    color: #7b7c7b;
    font-family: "Montserrat-ExtraBold", sans-serif;
    margin-bottom: calc(25px + 25 * ((100vw - 360px) / 1560));
}

.wrapper, .slide {
    display: flex;
    flex-wrap: nowrap;
    column-gap: calc(45px + 45 * ((100vw - 360px) / 1560));
    justify-content: center;
}

.slide > div {
    display: flex;
}

.slider > div {
    color: #7b7c7b;
}

.slider > div:after {
    font-size: calc(25px + 15 * ((100vw - 360px) / 1200));
    transform: translateY(-300%);
}

.slide .button, .slide img, .slide div {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 33%;
    transition: all 0.5s ease-out;
}

.card:hover {
    transform: scale(1.02, 1.02);
}

.slider .card:hover {
    transform: none;
}

.link {
    display: flex;
    flex-direction: column;
}

.image {
    width: 100%;
    height: calc(150px + 150 * ((100vw - 360px) / 1560));
    margin-bottom: calc(20px + 20 * ((100vw - 360px) / 1560));
    object-fit: cover;
}

.text_wrap {
    flex: 1 1 auto;
}

.card_title {
    font-size: calc(14px + 16 * ((100vw - 360px) / 1560));
    color: #7b7c7b;
    font-weight: 700;
    font-family: "Montserrat-Bold", sans-serif;
}

.description {
    font-size: calc(9px + 10 * ((100vw - 360px) / 1560));
    line-height: 1.44;
    color: #7b7c7b;
    font-weight: 400;
    font-family: "Lora-Regular", serif;
    max-height: 200px;
    overflow: hidden;
}

.card_title,
.description {
    text-align: left;
    margin-bottom: calc(15px + 5 * ((100vw - 360px) / 1560));
}

.button {
    font-size: calc(9px + 9 * ((100vw - 360px) / 1560));
    color: #dfe3e0;
    font-weight: 700;
    font-family: "Montserrat-Bold", sans-serif;
    padding: calc(7px + 8 * ((100vw - 360px) / 1560)) 0;
    width: 100%;
    background-color: #05132f;
    cursor: pointer;
}

.button:hover {
    background-color: #032243;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .title {
        text-align: left;
    }
}

@media screen and (max-width: 1199px) {
    .card {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .slider {
        display: none;
    }
}

@media screen and (min-width: 1921px) {
    .container {
        padding: 100px 165px;
    }

    .title {
        font-size: 39px;
        margin-bottom: 50px;
    }

    .wrapper {
        column-gap: 90px;
    }

    .image {
        height: 300px;
        margin-bottom: 40px;
    }

    .card_title {
        font-size: 30px;
    }

    .description {
        font-size: 19px;
    }

    .card_title, .description {
        margin-bottom: 20px;
    }

    .button {
        font-size: 18px;
        padding: 15px;
    }
}
