.gallery_heading {
  margin-bottom: 30px;
}

.wrapper_img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.img_gallery {
  width: 100px;
  height: 85px;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1324px) {
  .gallery_wrapper {
    display: none;
  }
}
