.header {
    display: flex;
}

.background {
    background-color: #000b2d;
}

.burger {
    display: none;
    width: 25px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.burger:after,
.burger:before {
    content: '';
    background-color: #7699C8;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
}

.burger:before {
    top: 0;
}

.burger:after {
    bottom: 0;
}

.burger_line {
    position: absolute;
    background-color: #7699C8;
    height: 1px;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.modal_menu {
    padding: 50px 0px 90px 55px;
    background-color: #000b2d;
    position: absolute;
    z-index: 11;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    width: 30%;
    min-width: 300px;
    height: 100%;
}

.modal_menu > .language_wrap,
.modal_menu > .navbar {
    display: flex;
}

.navbar {
    display: block;
    flex: 1 1 100%;
}

.list {
    display: flex;
    margin-top: 35px;
    margin-bottom: 45px;
    column-gap: 48px;
    letter-spacing: 0.5px;
    padding-left: 0;
}

.link {
    font-size: 20px;
    color: #dfe3e0;
    font-weight: 400;
    font-family: "Montserrat-Regular", sans-serif;
    cursor: pointer;
}

.link:hover {
    color: #639bd1;
}

.language_wrap {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 24px;
    margin-top: 37px;
    margin-right: 0px;
}

.language {
    font-size: 14px;
    line-height: 20px;
    color: #dfe3e0;
    font-weight: 500;
    font-family: "Montserrat-Regular", sans-serif;
    cursor: pointer;
}

.language:hover,
.language_active {
    color: #639bd1;
}

.dropdown_wrap {
    white-space: nowrap;
    position: relative;
}

.sub_menu {
    text-align: center;
    margin-bottom: 10px;
}

.title {
    font-size: 20px;
    color: #dfe3e0;
    font-weight: 400;
    font-family: "Montserrat-Regular", sans-serif;
    position: relative;
    padding-right: 20px;
    cursor: pointer;
}

.title:hover,
.title_active {
    color: #639bd1;
}

.title:after {
    content: url(../../../public/img/navBar/arrow_right.svg);
    position: absolute;
    margin-left: 10px;
    object-fit: cover;
}

.title:hover:after {
    content: url(../../../public/img/navBar/arrow_right_hover.svg);
}

.title_active.title:after {
    content: url(../../../public/img/navBar/arrow_down.svg);
}

.dropdown {
    display: none;
}

.dropdown_active {
    position: absolute;
    background-color: #000b2d;
    z-index: 5;
    display: flex;
    flex-direction: column;
    top: 45px;
    padding: 7px 45px 40px 32px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    letter-spacing: 0.14px;
}

.dropdown_active_sub_menu {
    position: absolute;
    background-color: #000b2d;
    z-index: 5;
    display: flex;
    flex-direction: column;
    padding: 20px 40px 40px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    top: 0;
    left: 240px;
}

.subtitle {
    border-bottom: 1px solid #639bd1;
    line-height: 150%;
    padding: 0 10px;
    margin-bottom: 14px;
    font-size: 20px;
    color: #639bd1;
    font-weight: 400;
    min-width: 331px;
    font-family: "Montserrat-Regular", sans-serif;
}

.subtitle:last-child {
    margin-bottom: 0;
}

.subtitle:hover {
    color: #9ea5a8;
    border-bottom-color: #9ea5a8;
}

.wrap_input {
    height: 35px;
    border: 1px solid #193f65;
    display: flex;
    align-items: center;
    position: relative;
    width: 230px;
    margin-top: 31px;
    margin-right: 50px;
}

.search_input {
    width: 230px;
    height: 100%;
    background-color: #000b2d;
    padding-right: 18px;
    padding-left: 5px;
    font-size: 12px;
    color: #eaeaea;
    letter-spacing: 0.5px;
}

.wrap_input:hover {
    border-color: #639bd1;
}

.clear {
    position: absolute;
    cursor: pointer;
    left: 100px;
    width: 15px;
    height: 15px;
}

.clear:before,
.clear:after {
    content: '';
    height: 1.2px;
    width: 10px;
    background-color: #eaeaea;
    position: absolute;
    bottom: 50%;
}

.clear:before {
    transform: rotate(45deg);
}

.clear:after {
    transform: rotate(-45deg);
}

.icon_magnifier {
    background-image: url(../../../public/img/navBar/search.svg);
    background-color: #000b2d;
    width: 22px;
    height: 22px;
    background-size: cover;
    margin-left: 3px;
    position: relative;
    cursor: pointer;
    display: flex;
    margin-right: 6px;
}

.icon_magnifier:before {
    content: '';
    border-left: 1px solid #193f65;
    left: -9px;
    height: 90%;
    position: absolute;
}

@media screen and (max-width: 1400px) {
    .title {
        font-size: 16px;
    }

    .link {
        font-size: 16px;
    }

    .subtitle {
        font-size: 16px;
    }

    .dropdown_active {
        padding: 5px 32px 30px 26px
    }
}

@media screen and (max-width: 1200px) {
    .list {
        margin-bottom: 35px;
    }

    .title {
        font-size: 14px;
    }

    .title:after {
        margin-top: 6px;
    }

    .link {
        font-size: 14px;
    }

    .subtitle {
        font-size: 14px;
    }

    .language_wrap {
        margin-right: 0;
    }

    .wrap_input {
        margin-top: 26px;
    }
}

@media screen and (max-width: 992px) {
    .navbar {
        display: none;
    }

    .header {
        justify-content: space-between;
    }

    .wrap_input {
        margin-right: 29px;
        margin-top: 12px;
        margin-bottom: 14px;
        height: 25px;
        width: 200px;
    }

    .search_input {
        width: 100%;
    }

    .icon_magnifier {
        width: 19px;
        height: 19px;
    }

    .icon_magnifier:before {
        left: -7px;
        top: 1px;
    }

    .burger {
        display: block;
        margin-left: 40px;
        margin-top: 12px;
        margin-bottom: 14px;
    }

    .list {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    .language_wrap {
        display: none;
    }

    .dropdown_active {
        background-color: #000b2d;
        z-index: 5;
        display: flex;
        flex-direction: column;
        top: 45px;
        padding: 20px 40px 0 20px;
        position: static;
        box-shadow: none;
    }

    .subtitle {
        border-bottom: none;
        line-height: 120%;
        padding: 0;
        margin-bottom: 10px;
        min-width: 100%;
    }

    .dropdown_wrap {
        white-space: inherit;
    }

    .dropdown_active {
        padding-right: 0;
    }
}

@media screen and (max-width: 360px) {
    .burger {
        margin-left: 29px;
    }

    .wrap_input {
        width: 130px;
    }

    .icon_magnifier {
        width: 14px;
        height: 14px;
    }
}

@media screen and (min-width: 1921px) {
    .wrap_input {
        width: 230px;
        height: 35px;
        border: 2px solid #193f65;
    }

    .search_input {
        width: 195px;
        font-size: 16px;
        padding-right: 28px;
    }

    .clear {
        width: 20px;
        height: 20px;
        left: 170px;
    }

    .clear:before,
    .clear:after {
        content: '';
        width: 16px;
    }

    .icon_magnifier {
        width: 18px;
        height: 18px;
        margin-left: 8px;
    }

    .icon_magnifier:before {
        content: '';
        border-left: 2px solid #193f65;
        left: -10px;
    }
}