.background {
    background-color: #ebeeed;
    padding-bottom: 150px;
}

.title {
    font-size: 39px;
    font-weight: 800;
    color: #7b7c7b;
    font-family: "Montserrat-ExtraBold", sans-serif;
    margin-bottom: 40px;
    padding-top: 110px;
    text-align: center;
}

.wrapper, .slide, .cards {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 85px;
}

.slider > div {
    color: #7b7c7b;
}

.slider > div:after {
    font-size: 25px;
    transform: translateY(-300%);
}

.slide > div {
   margin: 0 10px;
}
.slide > div {
    display: flex;
}

.slide div:hover {
    transform: none;
}

.slider {
    display: none;
}

@media screen and (max-width: 1660px) {
    .background {
        padding-bottom: 113px;
    }

    .title {
        font-size: 29px;
        margin-bottom: 30px;
        padding-top: 82px;
    }
}

@media screen and (max-width: 992px) {
    .title {
        padding-top: 40px;
    }

    .cards {
        column-gap: 5%;
    }
}

@media screen and (max-width: 767px) {
    .background {
        padding-left: 19px;
        padding-right: 19px;
    }

    .title {
        text-align: left;
        padding-left: 10px;
        font-size: 22px;
        padding-top: 0;
    }

    .cards {
        display: none;
    }

    .slider {
        display: block;
    }

    .slider .swiper-button-prev {
        left: 0;
    }
    .slider .swiper-button-next {
        right: 0;
    }
}

@media screen and (max-width: 450px) {
    .background {
        padding-bottom: 0;
    }

    .title {
        font-size: 16px;
        margin-top: 0;
        padding-top: 0;
    }

    .wrapper, .slide, .cards {
        column-gap: 15px;
    }
}