.background {
    background: url("../../../public/images/team/background.png") no-repeat center;
    background-size: cover;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    text-align: center;
    padding-top: calc(40px + 60 * ((100vw - 360px) / 1560));
    padding-left: calc(45px + 120 * ((100vw - 360px) / 1560));
    padding-bottom: calc(40px + 40 * ((100vw - 360px) / 1560));
    padding-right: calc(45px + 120 * ((100vw - 360px) / 1560));
}

.title {
    font-size: calc(14px + 25 * ((100vw - 360px) / 1560));
    font-weight: 800;
    font-family: "Montserrat-ExtraBold", sans-serif;
    color: #ffffff;
    margin-bottom: calc(25px + 25 * ((100vw - 360px) / 1560));
}

.card_list {
    display: flex;
    justify-content: space-between;
    gap: calc(25px + 40 * ((100vw - 360px) / 1560));
    flex-wrap: wrap;
}

.card {
    flex: 1 1 auto;
}

.photo {
    width: calc(120px + 280 * ((100vw - 360px) / 1560));
    height: calc(120px + 280 * ((100vw - 360px) / 1560));
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-bottom: calc(15px + 15 * ((100vw - 360px) / 1560));
}

.name {
    font-size: calc(11px + 24 * ((100vw - 360px) / 1560));
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat-Bold", sans-serif;
    line-height: 1.25;
}

.description {
    font-size: calc(8px + 14 * ((100vw - 360px) / 1560));
    color: #ffffff;
    font-weight: 300;
    font-family: "Montserrat-Light", sans-serif;
    line-height: 1.25;
}

@media screen and (max-width: 767px) {
    .description {
        display: none;
    }

    .title {
        text-align: left;
    }
}

@media screen and (min-width: 1921px) {
    .container {
        padding: 100px 165px 80px;
    }

    .title {
        font-size: 39px;
        margin-bottom: 50px;
    }

    .card_list {
        gap: 80px;
    }

    .photo {
        width: 400px;
        height: 400px;
        margin-bottom: 30px;
    }

    .name {
        font-size: 35px;
    }

    .description {
        font-size: 22px;
    }
}
