.container {
    padding: 0 calc(45px + 120 * ((100vw - 360px) / 1560));
    max-width: 1920px;
    margin: auto;
    position: relative;
}

.background {
    background-color: #ebedec;
}

.wrapper {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding-top: calc(30px + 75 * ((100vw - 360px) / 1560));
    padding-bottom: calc(40px + 30 * ((100vw - 360px) / 1560));

}

.title {
    font-family: "Montserrat-ExtraBold", sans-serif;
    size: 35px;
    color: #7b7c7b;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 60px;
    margin-top: 0;
}

.title_medium {
    display: none;
}

.img_box {
    display: grid;
    grid-gap: 40px 55px;
    grid-template-columns: 1fr 1fr;
    margin-right: 70px;
}

.img_box_row {
    display: flex;
    padding-bottom: 105px;
}

.img_box_row img {
    padding-right: 50px;
    margin: 0 auto;

}

.img_box_row img:last-child {
    padding-right: 0;
}

.content_box {
    display: flex;
    flex-direction: column;
    font-size: calc(11px + 13 * ((100vw - 360px) / 1560));
    line-height: 137.5%;
    color: #7b7c7b;
    font-family: "Lora-Regular", serif;
}
.content_box > p {
    margin: 0;
}
.content_box .title {
    display: none;
}

@media screen and (max-width: 1699px) {
    .content_box .title {
        display: block;
    }
}

.text_wrap:first-child {
    margin-top: 50px;
}

.text_wrap:last-child {
    margin-top: 50px;
}

.text {
    margin-bottom: calc(15px + 15 * ((100vw - 360px) / 1560));
}

.bold_text {
    color: #7b7c7b;
    font-family: "Montserrat-ExtraBold", sans-serif;
    margin-right: 10px;
}

.style_text {
    font-size: calc(11px + 13 * ((100vw - 360px) / 1560));
    line-height: 137.5%;
    color: #7699c8;
    font-weight: 400;
    margin: 0;
}

.btn {
    height: calc(30px + 50 * ((100vw - 360px) / 1560));
    width: calc(90px + 310 * ((100vw - 360px) / 1560));
    font-size: calc(9px + 12 * ((100vw - 360px) / 1560));
    color: #dfe3e0;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    background-color: #051330;
    border: 1px solid #000106;
    margin-top: calc(12px + 28 * ((100vw - 360px) / 1560));
    align-self: end;
    cursor: pointer;
}

@media screen and (max-width: 1699px) {
    .large {
        display: none;
    }

    .title_medium {
        display: block;
        font-family: "Montserrat-ExtraBold", sans-serif;
        size: calc(25px + 10 * ((100vw - 360px) / 1560));
        color: #7b7c7b;
        font-weight: 800;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: calc(20px + 40 * ((100vw - 360px) / 1560));
    }
}