.form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 1048px;
    margin: 0 auto;
}

.wrapper, .inner_wrapper {
    display: flex;
    row-gap: 48px;
}


.wrapper {
    flex-wrap: wrap;
    column-gap: 30px;
}

.inner_wrapper {
    flex-grow: 1;
    flex-direction: column;
}

.button {
    width: 400px;
    height: 80px;
    background-color: #051330;
    font-size: 22px;
    color: #dfe3e0;
    font-family: "Montserrat-Bold", sans-serif;
    align-self: flex-end;
    cursor: pointer;
}

.button:hover {
    background-color: #032243;
    color: #fff;
}

@media screen and (max-width: 1660px) {
    .wrapper, .inner_wrapper {
        row-gap: 36px;
    }

    .wrapper {
        column-gap: 23px;
    }

    .button {
        width: 300px;
        height: 60px;
        font-size: 18px;
    }
}

@media screen and (max-width: 1200px) {
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .form {
        padding-left: 29px;
        padding-right: 29px;
        flex-direction: column;
    }

    .wrapper {
        flex-direction: column;
    }

    .wrapper {
        row-gap: 12px;
    }

    .inner_wrapper {
        row-gap: 12px;
    }

    .button {
        font-size: 15px;
        height: 40px;
    }
}


@media screen and (max-width: 360px) {
    .button {
        width: 115px;
        height: 25px;
        font-size: 8px;
    }
}