.form {
    display: flex;
    flex-direction: column;
    row-gap: calc(20px + 20 * ((100vw - 360px) / 1560));
}

.wrapper, .inner_wrapper {
    display: flex;
    row-gap: calc(12px + 28 * ((100vw - 360px) / 1560));
}


.wrapper {
    flex-wrap: wrap;
    column-gap: 30px;
}

.inner_wrapper {
    flex-grow: 1;
    flex-direction: column;
}

.button {
    width: calc(115px + 285 * ((100vw - 360px) / 1560));
    height: calc(25px + 55 * ((100vw - 360px) / 1560));
    background-color: #051330;
    font-size: calc(7px + 14 * ((100vw - 360px) / 1560));
    color: #dfe3e0;
    font-family: "Montserrat-Bold", sans-serif;
    align-self: flex-end;
    cursor: pointer;
}

.button:hover {
    background-color: #032243;
    color: #fff;
}

@media screen and (min-width: 1921px) {
    .form {
        row-gap: 40px;
    }

    .wrapper, .inner_wrapper {
        row-gap: 40px;
    }

    .button {
        width: 400px;
        height: 80px;
        font-size: 21px;
    }
}
