.background {
    background-color: #ebeeed;
}

.flex {
        padding-top: 122px;
        padding-bottom: 70px;
        display: flex;
        column-gap: 62px;
        row-gap: 60px;
}

.title {
    grid-area: title;
    font-family: "Montserrat-ExtraBold", sans-serif;
    font-size: 35px;
    width: 484px;
    margin-bottom: 66px;
    color: #7b7c7b;
    font-weight: 800;
    text-transform: uppercase;
}

.images {
    grid-area: photos;
    display: grid;
    grid-gap: 40px 32px;
    grid-template-columns: 1fr auto;
    overflow: hidden;
}

.images > .swiper {
    display: none;
}

.text_box {
    grid-area: text_box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;
    font-size: 24px;
    line-height: 137.5%;
    color: #7b7c7b;
    font-family: "Lora-Regular", serif;
}

.text_box p {
    margin-bottom: 7px;
}

.inner_wrap {
    display: flex;
    flex-direction: column;
    row-gap: 23px;
}

.wrapper {
    display: flex;
    column-gap: 70px;
    width: 100%;
    padding: 105px 0;
}

.text_box .description {
    margin-bottom: 36px;
    letter-spacing: 1.6px;
}

.bold_text {
    color: #7b7c7b;
    font-family: "Montserrat-ExtraBold", sans-serif;
    margin-right: 10px;
}

.style_text {
    font-size: 24px;
    line-height: 137.5%;
    color: #7699c8;
    font-weight: 400;
    margin: 0;
}

.button {
    height: 80px;
    width: 400px;
    font-size: 20px;
    color: #dfe3e0;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    background-color: #051330;
    border: 1px solid #000106;
    align-self: end;
    cursor: pointer;
    margin-top: 25px;
    margin-right: 6px;
}

.button:hover {
    background-color: #032243;
    color: #fff;
}

.imgContent {
    position: relative;
    width: 230px;
    height: 230px;
    overflow: hidden;
    object-fit: cover;
    background-color: #fff;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    padding: 4px 5px;
}

.slide {
    display: flex;
    justify-content: center;
}

.slide_img_container{
    margin: 0 45px;
}

.swiper > div {
    color: #7b7c7b;
}

.swiper > div:after {
    font-size: 40px;
}

.container_image {
    position: relative;
    padding-bottom: 867px;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.container_logo {
    position: relative;
    max-width: 1920px;
    padding: 0 165px;
    margin: 0 auto;
    bottom: 0;
}

.logo {
    max-width: 176px;
    position: absolute;
    top: 813px;
    transform: translateY(-100%);
}

.wrap_modal {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.modal {
    width: 80%;
    max-width: 1400px;
    background-color: #ebeeed;
    z-index: 11;
    padding: 80px;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}


@media screen and (max-width: 1660px) {
    .images {
        display: flex;
        justify-content: center;
        column-gap: 80px;
    }

    .img {
        width: 157px;
        height: 165px;
    }

    .flex {
        padding-top: 91px;
        padding-bottom: 52px;
        column-gap: 46px;
        row-gap: 45px;
    }

    .title {
        font-size: 26px;
        width: 363px;
        margin-bottom: 49px;
    }

    .images {
        grid-gap: 30px 24px;
    }

    .text_box {
        row-gap: 30px;
        font-size: 18px;
        line-height: 1;
    }

    .text_box p {
        margin-bottom: 6px;
    }

    .inner_wrap {
        row-gap: 18px;
    }

    .wrapper {
        column-gap: 52px;
        padding: 77px 0;
    }

    .text_box .description {
        margin-bottom: 27px;
    }

    .bold_text {
        margin-right: 8px;
    }

    .style_text {
        font-size: 18px;
        line-height: 1;
    }

    .button {
        height: 60px;
        width: 300px;
        font-size: 16px;
        margin-top: 18px;
        margin-right: 4px;
    }

    .imgContent {
        width: 172px;
        height: 172px;
        border-radius: 4px;
        padding: 3px 4px;
    }

    .swiper > div:after {
        font-size: 30px;
    }

    .container_image {
        padding-bottom: 650px;
    }

    .container_logo {
        max-width: 1400px;
        padding: 0 123px;
    }

    .logo {
        max-width: 132px;
        top: 609px;
    }

    .modal {
        width: 80%;
        max-width: 1190px;
        padding: 60px;
        box-shadow: 0 6px 12px 0 rgb(0 0 0 / 20%);
    }
}

.slider {
    display: none;
}


@media screen and (max-width: 1300px) {
    .images4 > .img {
        display: none;
    }

    .images4 > .swiper {
        display: inline-block;
        width: 600px;
    }
}

@media screen and (max-width: 996px) {
    .container_image {
        padding-bottom: 450px;
    }

    .images3 > .img {
        display: none;
    }

    .images4 > .swiper,
    .images3 > .swiper {
        display: inline-block;
        width: 300px;
    }
}

@media screen and (max-width: 767px) {
    .container_image {
        padding-bottom: 350px;
    }

    .flex {
        flex-direction: column;
        padding-left: 49px;
        padding-right: 49px;
    }

    .images2 > .img {
        display: none;
    }

    .images2 > .swiper {
        display: inline-block;
        width: 300px;
    }

    .images {
        display: none;
    }

    .slider {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 360px) {
    .container_image {
        padding-bottom: 250px;
    }

    .title {
        width: 100%;
        font-size: 16px;
        margin-bottom: 0;
    }

    .description {
        font-size: 14px;
    }

    .inner_wrap {
        font-size: 14px;
    }

    .bold_text {
        font-size: 14px;
    }

    .style_text {
        font-size: 14px;
    }

    .button {
        width: 100%;
    }

    .swiper,
    .images1 > .swiper,
    .images2 > .swiper,
    .images4 > .swiper,
    .images3 > .swiper {
        width: 100%
    }
}