.gallery_container {
   flex-wrap: wrap;
}

.wrapper {
    width: 50%;
}

.fancybox_wrap {
    width:100%;
    display: block;
}

.wrapper,
.fancybox_wrap {
    font-size: 0;
}

/*.wrapper:nth-child(2n - 1) {*/
/*    display: flex;*/
/*}*/

.image {
    cursor: pointer;
    object-fit: cover;
}
