.form_container {
    margin: auto;
    max-width: 1100px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sub_container {
    margin: 50px 0 150px 0;
    justify-content: space-between;
}

.sub_container,
.input_container {
    flex-direction: column;
    position: relative;
}

.form_container,
.sub_container,
.input_container {
    display: flex;
}

.submit_btn {
    width: 402px;
    height: 82px;
    background-color: #051330;
    border: 1px solid #000106;
    font-size: 21px;
    color: #dfe3e0;
    font-family: "Montserrat-Bold", sans-serif;
    bottom: -100px;
    align-self: flex-end;
    cursor: pointer;
    position: absolute;
}

.submit_btn:hover {
    opacity: 85%;
}

@media screen and (max-width: 1325px) {
    .sub_container {
        margin: 0px;
    }
}

@media screen and (max-width: 800px) {
    .submit_btn {
        max-width: 250px;
        font-size: 15px;
        bottom: -80px;
        max-height: 50px;
    }
}

@media screen and (max-width: 700px) {
    .submit_btn {
        max-width: 185px;
        max-height: 40px;
        font-size: 10px;
        bottom: -70px;
    }
}

@media screen and (max-width: 479px) {
    .submit_btn {
        max-width: 250px;
        font-size: 15px;
    }
}
