.background_block_title {
  background-color: #ebeeed;
}

.block_title {
  font-size: 2.4rem;
  font-family: "Montserrat-ExtraBold", sans-serif;
  line-height: 1;
  width: max-content;
  color: #7b7c7b;
  margin: auto;
  text-align: center;
  padding: 112px 50px 50px 50px;
}

@media screen and (max-width: 1325px) {
  .background_block_title {
    min-height: 1200px;
  }

  .block_title {
    padding: 90px 50px 85px 0px;
    min-width: 1025px;
    text-align: start;
  }
}

@media screen and (max-width: 1134px) {
  .block_title {
    min-width: 830px;
  }
}

@media screen and (max-width: 989px) {
  .block_title {
    font-size: 2rem;
    min-width: 650px;
  }
}

@media screen and (max-width: 800px) {
  .background_block_title {
    min-height: 900px;
  }

  .block_title {
    padding: 60px 50px 70px 50px;
  }
}

@media screen and (max-width: 700px) {
  .background_block_title {
    min-height: 800px;
  }

  .block_title {
    padding: 60px 50px 70px 0px;
    font-size: 1.2rem;
    min-width: 395px;
  }
}

@media screen and (max-width: 479px) {
  .background_block_title {
    min-height: 650px;
  }

  .block_title {
    padding: 50px 0px 50px 0px;
    min-width: 250px;
  }
}
