.label {
  font-family: "Montserrat-Light", sans-serif;
  font-size: 27px;
  color: #7b7c7b;
  line-height: 26px;
  top: -45px;
}

.message_input {
  width: 624px;
  height: 402px;
  border: 1px solid #7b7c7b;
  resize: none;
  background-color: #ebeeed;
  font-size: 20px;
  letter-spacing: 0.5px;
  padding: 10px;
}

.field_error {
  bottom: -22px;
  color: red;
}

.label,
.field_error {
  position: absolute;
}

@media screen and (max-width: 1325px) {
  .label {
    top: -35px;
  }

  .message_input {
    min-width: 1025px;
    margin-bottom: 25px;
  }

  .field_error {
    bottom: 7px;
    font-size: 15px;
  }
}

@media screen and (max-width: 1135px) {
  .message_input {
    min-width: 830px;
  }
}

@media screen and (max-width: 989px) {
  .message_input {
    min-width: 650px;
  }
}

@media screen and (max-width: 800px) {
  .label {
    font-size: 18px;
  }

  .message_input {
    width: 0px;
    min-width: 550px;
    max-height: 260px;
    margin-bottom: 0px;
  }

  .field_error {
    bottom: -18px;
  }
}

@media screen and (max-width: 700px) {
  .message_input {
    min-width: 400px;
    max-height: 200px;
  }

  .field_error {
    bottom: -15px;
    font-size: 11px;
  }
}

@media screen and (max-width: 479px) {
  .label {
    font-size: 15px;
    top: -28px;
  }

  .message_input {
    min-width: 250px;
    max-height: 140px;
    font-size: 11px;
  }
}
