.dropdown_content {
    display: none;
}

.dropdown_content_active {
    position: absolute;
    background-color: #000b2d;
    z-index: 5;
    display: flex;
    flex-direction: column;
    top: 45px;
    padding: 20px 40px 40px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.title {
    border-bottom: 1px solid #639bd1;
    line-height: 150%;
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: calc(16px + 4 * ((100vw - 360px) / 1560));
    color: #639bd1;
    font-weight: 400;
    font-family: "Montserrat-Regular", sans-serif;
}

.title:last-child {
    margin-bottom: 0;
}

.title:hover {
    color: #9ea5a8;
    border-bottom-color: #9ea5a8;
}

@media screen and (max-width: 1499px) {
    .dropdown_content_active {
        background-color: #000b2d;
        z-index: 5;
        display: flex;
        flex-direction: column;
        top: 45px;
        padding: 20px 40px 0 20px;
        position: static;
        box-shadow: none;
    }

    .title {
        border-bottom: none;
        line-height: 120%;
        padding: 0;
        margin-bottom: 10px;
    }
}
