.main_nav_links_burger {
  font-size: 18px;
  margin-bottom: 7px;
  font-family: "Montserrat-Light", sans-serif;
  display: block;
  max-width: 150px;
}

/*.main_nav_links {*/
/*  margin-top: 30px;*/
/*  color: #eaeaea;*/
/*  text-decoration: none;*/
/*}*/

.list {
  display: flex;
  font-size: 20px;
  color: #dfe3e0;
  font-weight: 400;
  font-family: "Montserrat-Regular", sans-serif;
  padding: 30px 0;
  align-items: center;
}

.list> li {
  margin-right: 40px;
}

@media screen and (max-width: 1450px) {
  .main_nav_links {
    margin-right: 35px;
  }
}

@media screen and (max-width: 1230px) {
  .main_nav_links {
    display: none;
  }
}
