.top_nav_bar_block_burger {
  display: none;
}

.backgraund_burger {
  position:absolute;
  z-index:1;
  background-color: #000b2d;
  width: 100%;
  color: #eaeaea;
}

.main_block_container_burger {
  padding: 50px 20px 90px 55px;
}

.wrapper_languages_burger {
  margin-top: 70px;
}