@import "assets/styles/common/variables";

$font-faces: (
  black-italic, black, bold-italic,
  bold, extra-bold-italic, extra-bold,
  extra-light-italic, extra-light, italic,
  light-italic, light, medium-italic,
  medium, regular, semi-bold-italic,
  semi-bold, thin-italic
);

// examples:
// .font-extra-light-italic-size-small
// .font-regular-size-large
// .font-regular-size-md
@each $font-face in $font-faces {
  .font-#{$font-face} {
    font-family: Montserrat-#{$font-face};
  }

  @each $font-size, $value in $font-sizes {
    .font-#{$font-face}-#{$font-size} {
      font-family: Montserrat-#{$font-face};
      font-size: #{$value};
    }
  }
}

@each $font-size, $value in $font-sizes {
  .font-#{$font-size} {
    font-size: #{$value};
  }
}