// colors
$black: #000;
$white: #fff;
$blue-dark: #051330;

// $color-primary
$color-secondary: #7699c8;
$color-grey: #7b7c7b;

// font parameters
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800px;

$font-weight-medium: $font-weight-regular;
$ront-weight-semibold: $font-weight-regular;
$font-weight-thin: $font-weight-light;

// font size
$font-sizes: (
  size-small: 5pt, // test value
  size-regular: 20pt,
  size-large: 50pt // test value
);