// colors
$color-dark-blue: #051330;
$color-blue: #2c4164;
$color-light-blue: #7699c8;
$color-grey: #7b7c7b;
$color-light-grey: #dfdfdf;
$color-dark-grey: #202020;
$color-grey-primary: #eaeeed;

// font parameters
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800px;

$font-weight-medium: $font-weight-regular;
$ront-weight-semibold: $font-weight-regular;
$font-weight-thin: $font-weight-light;

// fonts
// prettier-ignore
$font-faces: (
  black-italic, black, bold-italic,
  bold, extra-bold-italic, extra-bold,
  extra-light-italic, extra-light, italic,
  light-italic, light, medium-italic,
  medium, regular, semi-bold-italic,
  semi-bold, thin-italic
);

// font size
// prettier-ignore
$font-sizes: (
  size-sm: 14px, // test value
  size-md: 20px,
  size-lg: 24px // test value,
);
