.social_heading {
  margin-bottom: 40px;
}

.social {
  display: block;
  margin-bottom: 20px;
}

.icon {
  vertical-align: middle;
  margin-right: 15px;
}

@media screen and (max-width: 1324px) {
  .social_heading {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .social_wrapper {
    margin-left: 100px;
  }

  .social {
    font-weight: bold;
  }
}

@media screen and (max-width: 700px) {
  .social {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 500px) {
  .social_wrapper {
    margin-left: 45px;
  }

  .social {
    font-size: 0.7rem;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 440px) {
  .social_wrapper {
    margin-left: 25px;
  }

  .social {
    font-size: 0.6rem;
  }
}
