.styleForms {
    height:4.625rem;
    border:1px solid #7B7C7B;
}

.allParamsForms {
    color: #7B7C7B;
}

.buttonSubmit {
    background-color:#000106;
    color:#ffff;
    width: 25.25rem;
    height: 5.25rem;
}

.MessageInput {
    width:39.625rem;
    height: 27.68rem;
}

.wrapperContactForm {
    width:65.81rem;
    height: 39rem;
}

.fontsLabelForm {
    font-family: 'Montserrat-Light',serif;
    font-size: 27px;
}