.background {
    background-color: #ebeeed;
}

.container {
    padding: 0 calc(45px + 120 * ((100vw - 360px) / 1560));
    max-width: 1920px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: calc(14px + 25 * ((100vw - 360px) / 1560));
    font-weight: 800;
    color: #7b7c7b;
    font-family: "Montserrat-ExtraBold", sans-serif;
    margin-bottom: calc(25px + 25 * ((100vw - 360px) / 1560));
}

.button {
    width: calc(115px + 285 * ((100vw - 360px) / 1560));
    padding: calc(9px + 16 * ((100vw - 360px) / 1560)) 0;
    font-size: calc(9px + 12 * ((100vw - 360px) / 1560));
    background-color: #051330;
    border: 1px solid #000106;
    font-family: "Montserrat-Bold", sans-serif;
    color: #dfe3e0;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: #032243;
    color: #fff;
}

@media screen and (min-width: 1921px) {
    .title {
        font-size: 39px;
    }

    .button {
        width: 400px;
        padding: 25px 0;
        font-size: 21px;
    }
}
