.error {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    padding: 0 calc(45px + 120 * ((100vw - 360px) / 1560));
    max-width: 1920px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: calc(25px + 10 * ((100vw - 360px) / 1560));
}

.btn {
    display: block;
    width: calc(90px + 310 * ((100vw - 360px) / 1560));
    padding: calc(9px + 16 * ((100vw - 360px) / 1560)) 0;
    font-size: calc(9px + 12 * ((100vw - 360px) / 1560));
    color: #dfe3e0;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    background-color: #051330;
    border: 1px solid #000106;
    margin: calc(12px + 28 * ((100vw - 360px) / 1560)) auto 20px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    opacity: 85%;
}
