.container_bg {
    background-color: #051330;
    min-height: 27.8125rem;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.wrapper_info {
    height: auto;
    max-width: 100rem;
    display: flex;
    align-items: baseline;
}

.info_menu {
    display: flex;
}

.galleryBlock {
    width:26rem;
}

.styleTitle{
    color:#DFE3E0;
    font-family: 'Montserrat-Medium',serif;
    font-size:1.5rem;
}