.container_bg {
    background-color: #051330;
    height: 27.8125rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper_info {
    height: 14.8rem;
    width: 100rem;
    display: flex;
        align-items: baseline;
}

.info_menu {
    display: flex;
}

.galleryBlock {
    width:26rem;
}

.styleTitle{
    color:#DFE3E0;
    font-family: 'Montserrat-Medium';
    font-size:1.5rem;
}