.container_bg {
    background-color: #051330;
    height: 27.8125rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper_info {
    height: 14.8rem;
    width: 98rem;
}

.info_menu {
    display: flex;
}
