
@font-face {
  font-family: 'Montserrat-ExtraBold';
  font-weight: 400;
  src: url('../public/fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  src: url('../public/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Light',sans-serif;
  font-weight: 700;
  src: url('../public/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'Lora-Regular',sans-serif;
    font-weight: 400;
    src: url('../public/fonts/11049.ttf') format('truetype');
  }

  .fonts-title_popular-block {
    font-family:'Montserrat-ExtraBold',serif;
    opacity: 1;
    color:#7B7C7B;
    font-size: 2.4rem;
  } 

  .fonts-title-desc_popular_block {
    font-family:'Montserrat-Bold',serif;
    color: #7B7C7B;
  }

  .fonts-desc_popular-block {
    font-family:'Lora-Regular',sans-serif;
    color:#7B7C7B;
    font-size: 1.1rem;
    word-break: break-all
    }

  .fonts_button_action {
    font-family: "Montserrat-Bold",serif;
    background-color: #051330;
  }

  