html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  font-weight: 400;
  src: url('../public/fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  src: url('../public/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'LoraFonts';
    font-weight: 900;
    src: url('../public/fonts/11049.ttf') format('truetype');
  }

  .fonts-title_popular-block {
    font-family:'Montserrat-ExtraBold';
    opacity: 1;
    color:#7B7C7B;
    /* font-size: 39px; */
  }

  .fonts-title-desc_popular_block {
    font-family:'Montserrat-Bold';
    color: #7B7C7B;
  }

  .fonts-desc_popular-block {
    font-family:'LoraFonts';
    color:#7B7C7B;
    font-size: 19px;
  }

  .bg-custom {
    background-image: url('../public/images/ourteam/bckgrnd.png');
  }