.header-container {
    height: 870px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat-Regular', sans-serif;
    /*font-size: 19px;*/
    color: #eaeaea;
    background: url("/images/home_hero/bckgrnd.png") no-repeat center;
    background-size: cover;
    /*background-image: ;*/
}

.header-content-container {
    width: 1920px;
    margin: auto;
    display: flex;
    /*justify-content: space-between;*/
    padding: 0 180px 60px 145px;

}

.header-image {
    position: relative;
}

.header-logo {
    bottom: -104px;
    left: 26px;
    display: block;
    position: absolute;
}

.header-image-container {
    position: relative;
}

.header-text-container {
    position: relative;
    top: 18px;
    left: 61px;

}

.header-text-container > h1 {
    font-size: 65px;
    font-weight: 300;
    font-family: 'Montserrat-Light', sans-serif;

}

.header-text-container > h1 > span {
    font-size: 79px;
    font-family: 'Montserrat-Bold', sans-serif;
    line-height: 1
}

.header-text-container > p {
    margin-top: 30px;
    line-height: 1.8

}

.header-text-container > h1 + p {
    font-size: 17px;
    font-family: 'serif';
    line-height: 1.5
}