.header-container {
    height: 870px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat-Regular', sans-serif;
    color: #eaeaea;
    background: url("/images/home_hero/bckgrnd.png") no-repeat center;
    background-size: cover;
    font-size: 12px;

}

.header-content-container {
    width: 1620px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 60px 0;
    align-items: center;

}

.header-image {
    position: relative;
}

.header-logo {
    bottom: -104px;
    left: 26px;
    display: block;
    position: absolute;
}

.header-image-container {
    position: relative;
}

.header-text-container {
    width: 720px;
    position: relative;

}

.header-text-container > h1 {
    font-size: 65px;
    font-weight: 300;
    font-family: 'Montserrat-Light', sans-serif;

}

.header-text-container > h1 > span {
    font-size: 79px;
    font-family: 'Montserrat-Bold', sans-serif;
    line-height: 1
}

.header-text-container > p {
    margin-top: 30px;
    line-height: 1.8

}

.header-text-container > h1 + p {
    font-size: 17px;
    font-family: 'serif';
    line-height: 1.5
}

@media screen and (max-width: 1700px) {
    .header-content-container {
        margin: unset;
        padding: 0;
        justify-content: space-around;

    }
}

@media screen and (max-width: 1500px) {
    .header-image {
        width: 600px;
    }

    .header-container {
        height: 620px;
        font-size: 10px;
    }

    .header-logo {
        width: 130px;
        bottom: -60px;
    }

    .header-text-container > h1 {
        font-size: 49px;
    }

    .header-text-container > h1 > span {
        font-size: 60px;
    }

    .header-text-container > h1 + p {
        font-size: 10px;
    }

    .header-text-container {
        width: max-content;
    }
}

@media screen and (max-width: 1200px) {
    .header-content-container {
        display: unset;
        margin: auto;
        width: max-content;
    }

    .header-image {
        width: 70vw;
    }

    .header-image-container {
        width: max-content;
    }
}
