.header_container {
    background-color: #051330;
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.wrapper_nav {
    width: 80%;
}


#styleInput {
    background-color:inherit;
    outline: none;
    outline: none; 
    width: 274px; /* Ширина поля */
    vertical-align: middle; /* Выравнивание по середине */
}

#block_input_icon {
    width: 300px;
    border: 1px solid #7699C8; /* Параметры рамки */
    min-height: 20px; /* Минимальная высота */
    position: relative;
}

#colorIconSearch {
    color:#7699C8;
    border-left:2px solid #7699C8;
    padding-left: 3px;
    width: 24px; /* Ширина кнопки */
    height: 20px; /* Высота кнопки */
    position: absolute;
    right: 5px;
    top:2px;
}

.menu_list::after {
    content: '';
    position: absolute;
    margin-top: 2px;
    margin-left: 5px;
    text-align: center;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-left:10px solid white; 
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown_content {
    display: none;  
    position: absolute;
    background-color: #051330;
    
    min-width: 410px;
    min-height: 172px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content a {
    color: #7699C8;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

.dropdown_content a:hover {
    color:#7B7C7B;
    border-bottom: 1px solid #7699C8;


}

.dropdown_content_list {
    margin: 30px;
}

.dropdown:hover  .menu_list::after {
    content: '';
    position: absolute;
    margin-left: 5px;
    margin-top: 7px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #7699C8;
}


.dropdown:hover > div {
    color:#7699C8;
    display: block;

}