.header_container {
    height: 870px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat-Regular', sans-serif;
    color: #eaeaea;
    background: url("/images/home_hero/bckgrnd.png") no-repeat center;
    background-size: cover;

}

.header_content_container {
    width: 1620px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 60px 0;
    align-items: center;

}

.header_image {
    position: relative;
}

.header_logo {
    bottom: -104px;
    left: 26px;
    display: block;
    position: absolute;
}

.header_image_container {
    position: relative;
}

.header_text_container {
    width: 720px;
    position: relative;

}

.header_text_container > h1 {
    font-size: 3.4rem;
    font-weight: 300;
    font-family: 'Montserrat-Light', sans-serif;

}

.header_text_container > h1 > span {
    font-size: 4.1rem;
    font-family: 'Montserrat-Bold', sans-serif;
    line-height: 1
}

.header_text_container > p {
    margin-top: 30px;
    line-height: 1.8;
    font-size: 0.8rem;


}

.header_text_container > h1 + p {
    font-size: 0.9rem;
    font-family: 'serif';
    line-height: 1.5
}

@media screen and (max-width: 1700px) {
    .header_content_container {
        margin: unset;
        padding: 0 0 60px 0;
        justify-content: space-around;

    }
}

@media screen and (max-width: 1500px) {
    .header_image {
        width: 600px;
    }

    .header_container {
        height: 620px;
    }

    .header_logo {
        width: 130px;
        bottom: -60px;
    }

    .header_text_container {
        width: max-content;
    }
}

@media screen and (max-width: 1200px) {
    .header_content_container {
        display: unset;
        margin: auto;
        width: max-content;
    }

    .header_image {
        width: 70vw;
    }

    .header_image_container {
        width: max-content;
    }
}
