.top_nav_bar_block,
.top_nav_bar_block_burger,
.humburger_menu_btn,
.dropdown_content,
.dropdown_content_burger {
  display: none;
}

.wrapper_main_head {
  margin: auto;
  background-color: #000b2d;
  height: 100px;
  display: flex;
  align-items: center;
  font-family: "Montserrat-Light", sans-serif;
  font-size: 20px;
  color: #eaeaea;
}

.main_block_container {
  width: 1920px;
  margin: 0 auto;
  padding: 0 180px 0 160px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.main_block_container_burger {
  padding: 55px 20px 90px 60px;
}

.wrapper_burger {
  background: rgba(0, 0, 0, 0.8);
}

.backgraund_burger {
  background-color: #000b2d;
  width: 75%;
  color: #eaeaea;
}

.humburger_menu_btn {
  background-image: url(../public/menu.svg);
  width: 40px;
  height: 40px;
  background-size: contain;
  border: 0;
  background-color: #000b2d;
  cursor: pointer;
}

.main_nav_links {
  margin-top: 30px;
  color: #eaeaea;
  text-decoration: none;
  margin-right: 60px;
}

.main_nav_links_burger {
  font-size: 18px;
  margin-bottom: 7px;
  font-family: "Montserrat-Light", sans-serif;
}

.main_nav_links:hover,
.main_nav_links_burger:hover {
  color: #639bd1;
}

.wrapper_languages_burger {
  margin-top: 70px;
}

.top_search_block {
  font-size: 15px;
}

.top_search_block > a {
  margin-right: 1rem;
}

.search_input_container {
  cursor: pointer;
}

.search_input_container > input {
  height: 38px;
  width: 240px;
  cursor: pointer;
}

.search_input_container::after {
  content: " ";
  right: 83px;
  position: relative;
  border-left: 2px solid;
}

.search_input_container > svg {
  font-size: 15px;
  position: relative;
  right: 55px;
}

.top_bar_search_input {
  background-color: #000b2d;
  border: solid 2px #193f65;
  margin-right: 30px;
  outline: none;
  color: #eaeaea;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.search_input_container::after,
.color_search {
  color: #193f65;
}

.top_bar_user_icon {
  font-size: 23px;
  padding-left: 30px;
  background-image: url(../public/icon_user.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown::after,
.dropdown_burger:before,
.dropdown_burger:last-of-type::before {
  content: " ";
  font-size: 0;
  border-color: transparent transparent transparent #639bd1;
  border-style: solid;
  border-width: 8px 0 8px 12px;
}
.dropdown::after {
  margin-left: -55px;
  margin-right: 55px;
  position: relative;
  bottom: 6px;
}

.dropdown_burger:before {
  position: fixed;
  left: 135px;
  transform: translateY(20%);
}

.dropdown_burger:last-of-type::before {
  position: fixed;
  left: 200px;
}

.dropdown:hover:after,
.dropdown_burger:hover:before {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 0 solid transparent;
  border-top: 12px solid #639bd1;
  margin-right: 51px;
}

.dropdown:hover:after {
  top: 0;
}

.dropdown_content {
  color: #639bd1;
  position: absolute;
  background-color: #000b2d;
  min-width: 300px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-bottom: 1px #193f65 solid;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown_content_burger {
  font-family: "Montserrat-Light", sans-serif;
  color: #639bd1;
}

.dropdown_content > p {
  border-bottom: 1px #669aca solid;
}

.dropdown_content_burger > p {
  margin: 4px 0px 4px 30px;
}

.dropdown_content_burger > p:last-of-type {
  margin-bottom: 10px;
}

.main_nav_links_burger,
.dropdown:hover .dropdown_content,
.dropdown_burger:hover .dropdown_content_burger {
  display: block;
}

.languages_burger {
  font-family: "Montserrat-Light", sans-serif;
  color: #6b7680;
  margin-right: 18px;
}

@media screen and (max-width: 1600px) {
  .top_nav_bar_block {
    font-size: 17px;
  }

  .main_block_container {
    padding: 0 120px 0 100px;
  }
}

@media screen and (max-width: 1400px) {
  .main_block_container {
    padding: 0 65px;
  }

  .main_nav_links {
    margin-right: 35px;
  }

  .dropdown::after {
    left: 25px;
  }
}

@media screen and (max-width: 1200px) {
  .humburger_menu_btn {
    display: block;
  }

  .search_input_container::after {
    right: 40px;
  }

  .dropdown_burger::after {
    left: 200px;
    bottom: 32px;
  }

  .main_nav_links,
  .top_bar_user_icon,
  .dropdown::after,
  .languages {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .main_block_container {
    padding: 0;
    padding-left: 25px;
  }

  .humburger_menu_btn {
    max-width: 30px;
    max-height: 30px;
  }

  .search_input_container > svg {
    right: 40px;
  }

  .search_input_container::after {
    right: 33px;
  }

  .top_bar_search_input {
    max-width: 200px;
    max-height: 35px;
    margin-right: 15px;
  }
}
