.top_nav_bar_block {
    margin: auto;
    background-color: #000B2D;
    height: 97px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 20px;
    color: #eaeaea;
}

.main_block_container {
    width: 1920px;
    margin: auto;
    padding: 0 180px 0 160px;
    justify-content: space-between;
    display: flex;
    align-items: center;

}

.grip_button {
    display: none;

}

.main_nav_links {
    color: #eaeaea;
    text-decoration: none;
    margin-right: 45px;
}

.main_nav_links:hover {
    color: #639BD1;
}

.dropdown::after {
    content: url("../public/images/triangle.svg");
    font-size: 0;
    margin-left: -32px;
    margin-right: 55px;
    display: inline-block;
    position: relative;
    filter: saturate(0%) brightness(200%);
    transform: rotate(-90deg);
    transition-duration: 0.5s;

}

.dropdown:hover:after {
    transform: rotate(0deg);
    transition-duration: 0.5s;
    filter: unset;
}

.top_search_block {
    font-size: 15px;
}

.top_search_block > a {
    margin-right: 1rem;
}

.top_bar_search_input {
    background-color: #000B2D;
    border: solid 2px #1B3F65;
    margin-right: 30px;
}

.top_bar_user_icon {
    font-size: 23px;
    padding-left: 30px;

}

.search_input_container > input {
    height: 38px;
    width: 240px;
}

.search_input_container::after {
    content: ' ';
    right: 83px;
    position: relative;
    border-left: 1px #1B3F65 solid;
}

.search_input_container > svg {
    font-size: 15px;
    position: relative;
    right: 55px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    color: #639BD1;
    display: none;
    position: absolute;
    background-color: #000B2D;
    min-width: 300px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-bottom: 1px #1B3F65 solid;
    padding: 12px 16px;
    z-index: 1;
}

.dropdown_content > p {
    border-bottom: 1px #669ACA solid;

}

.dropdown:hover .dropdown_content {
    display: block;
}

@media screen and (max-width: 1700px) {
    .main_block_container {
        padding: 0 80px 0 60px;

    }
}

@media screen and (max-width: 1500px) {
    .top_nav_bar_block {
        font-size: 15px;
    }

    .main_block_container {
        padding: 0;
        justify-content: space-around;

    }

    .top_search_block {
        font-size: 12px;
    }

    .search_input_container > input {
        height: 29px;
        width: 180px;
    }

    .dropdown::after {
        transform: scale(0.7, 0.7) rotate(-90deg);
        margin-left: -40px;
        margin-right: 25px;
    }

    .dropdown:hover:after {
        transform: scale(0.7, 0.7) rotate(0deg);
    }
}

@media screen and (max-width: 1200px) {
    .grip_button {
        margin-left: 20px;
        display: block;
        background: none;
        border-width: 2px 0 2px 0;
        border-color: #7699c8;
        border-style: solid;
        padding: 7px 0;
    }

    .grip_button::after {
        content: ' ';
        display: block;
        border-width: 0 0 2px 0;
        border-color: #7699c8;
        border-style: solid;
        width: 30px;
    }
    .top_nav_links_block{
        display: none;
    }
    .top_search_block > a {
        display: none;

    }
    .search_input_container::after {
        right: 20px;
    }
    .search_input_container {
        margin-right: 20px;
    }
    .main_block_container {
        justify-content: space-between;

    }
    .top_bar_search_input{
        margin: 0;
    }
    .search_input_container > svg {
        font-size: 15px;
        position: relative;
        right: 20px;
    }
}