@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Bolds';
  font-weight: 900;
  src: url('../utils/fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'LoraFonts';
    font-weight: 900;
    src: url('../utils/fonts/Montserrat/11049.ttf') format('truetype');
  }