.gallery_heading {
  margin-bottom: 30px;
}

.wrapper_img {
  margin-bottom: 5px;
}

.img_gallery {
  margin-right: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1324px) {
  .gallery_wrapper {
    display: none;
  }
}
