.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #eaeaea !important;
  background: initial !important;
  min-width: initial !important;
  border: initial !important;
}

.dropdown_burger {
  display: block !important;
  background: initial !important;
  color: #eaeaea !important;
  padding: initial !important;
  min-height: initial !important;
  font-family: "Montserrat-Light", sans-serif;
  border: initial !important;
  margin-bottom: 7px;
}

.wrapper_dropdown {
  background: #000b2d !important;
  border: none !important;
  padding: 20px !important;
  width: initial !important;
}

.wrapper_dropdown_burger {
  position: initial !important;
  color: #eaeaea !important;
  background: initial !important;
  border: initial !important;
}

.main_nav_links_burger {
  font-size: 18px;
  margin-bottom: 7px;
  font-family: "Montserrat-Light", sans-serif;
  display: block;
  max-width: 200px;
}

.main_nav_links {
  color: #eaeaea;
  text-decoration: none;
}

.active_arrows,
.active_link_dropdown,
.dropdown_content_burger,
.dropdown_content {
  color: #639bd1 !important;
}

.arrows,
.active_arrows {
  font-size: 13px;
  margin-left: 5px;
  vertical-align: 0.5px;
}

.active_arrows {
  transform: rotateZ(90deg);
}

.dropdown_content_burger {
  font-family: "Montserrat-Light", sans-serif;
  display: none;
}

.dropdown_content_burger > p {
  margin: 4px 0px 4px 30px;
}

.dropdown_content_burger > p:last-of-type {
  margin-bottom: 10px;
}

.dropdown_content {
  position: absolute;
  background-color: #000b2d;
  min-width: 365px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-bottom: 1px #193f65 solid;
  padding: 12px 16px;
  z-index: 1;
  display: none;
}

.dropdown_content > p {
  border-bottom: 1px #669aca solid;
}

.noHidden {
  display: block;
  border: 0;
}

@media screen and (max-width: 1450px) {
  .main_nav_links {
    margin-right: 35px;
  }
}

@media screen and (max-width: 1230px) {
  .main_nav_links {
    display: none;
  }
}
